{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('auth.login_user') }}" class="flex flex-col items-center justify-center w-full h-full mt-10">

    <div class="flex flex-col justify-center items-center border w-[350px] rounded">
        <h3 class="bg-[#F5F5F5] w-full text-lg px-3 py-3 font-semibold">Sign In</h3>
        <div class="px-3 py-2">
            <div class="mb-3 text-red-600">
                {% for message in form.username.errors + form.password.errors %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {{ form.csrf_token }}
            <label class="font-semibold" for="user_name">Username:</label>
            <input id="user_name" name="username" type="text" class="py-2 px-4 w-full border my-1">
            <label class="font-semibold" for="pass">Password:</label>
            <input id="pass" name="password" type="password" class="py-2 px-4 w-full border my-1">
            <input type="submit" value="Sign In" class="w-full text-center bg-[#00A65A] py-2 mt-3 text-white rounded hover:cursor-pointer hover:bg-green-700">
        </div>
    </div>
</form>
{% endblock %}


