{% extends 'base.html' %}

{% macro tab_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{name | e}}</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint) }}">{{name | e}}</a></li>
    {% endif %}
{% endmacro %}

{% block content %}
<div class="p-3 mt-10">
    <h1 class="text-[#6B9DCA] text-xl font-bold">News</h1>
    <ul class="flex-col flex gap-3 mt-2 p-3">
        {% for new_repo in new_repos %}
            <li>
                <div>
                    <h3 class="text-lg font-semibold">
                        {{ new_repo.user.username | e }} created
                        <a class="text-[#6B9DCA] underline"
                           href="{{ url_for('repo.view_repo', username=new_repo.user.username, repo_name=new_repo.name) }}">
                                {{ new_repo.name | e }}
                        </a>
                    </h3>
                    <p class="w-1/2 text-sm">
                        {% if new_repo.description %}
                            {{ new_repo.description | e }}
                        {% else %}
                            No description.
                        {% endif %}
                    </p>
                    <p>{{ new_repo.created_at.strftime("%X %x") }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block sidebar %}
<ol class="flex flex-col items-start justify-center">
    {% for repo in repos -%}
        <li class="text-gray-400 w-full text-sm">
            <a class="block px-3 py-3 hover:bg-[#1E282C] w-full" href="{{ url_for('repo.view_repo', username=current_user.username, repo_name=repo.name) }}">
            {{ current_user.username | e }}/<span class="font-semibold text-gray-300 w-full">{{ repo.name | e }}</span>
            </a>
        </li>
    {%- endfor %}
</ol>
{% endblock %}