{% extends 'base.html' %}

{% macro tab_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{name | e}}</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint) }}">{{name | e}}</a></li>
    {% endif %}
{% endmacro %}

{% block content %}
<ul class="flex-row flex gap-3 text-[#6B9DCA] mt-10 p-3">
    <li>Hello</li>
</ul>
<div class="w-full h-1 bg-white border-t border-1"></div>
{% endblock %}


{% block sidebar %}
<ol class="flex flex-col items-start justify-center">
    {% for repo in repos -%}
        <li class="text-gray-400 w-full text-sm">
            <a class="block px-3 py-3 hover:bg-[#1E282C] w-full" href="{{ url_for('repo.view_repo', username=current_user.username, repo_name=repo.name) }}">
            {{ current_user.username | e }}/<span class="font-semibold text-gray-300 w-full">{{ repo.name | e }}</span>
            </a>
        </li>
    {%- endfor %}
</ol>
{% endblock %}