{% extends 'base.html' %}

{% macro tab_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
    {% endif %}
{% endmacro %}

{% block content %}


<script>
    function copy_stash_url() {
      var copyText = "{{ repo.user.username | e }}@{{ repo.name | e }}.stash"
      navigator.clipboard.writeText(copyText);
    }
</script>



<div class="w-full flex flex-col items-start justify-center p-7 mt-5 md:mt-0">
    <p class="text-[#3E6FB1] text-xl">{{ repo.user.username | e }} / <span class="font-semibold">{{ repo.name | e }}</span></p>

    <div class="w-full mt-5">
        <div class="flex flex-row items-center justify-start gap-3 h-[40px] text-sm">
            <span class="bg-[#F4F4F4] px-2 py-1 rounded border text-[#ACACAC]">
                branch:
                <select name="branches" class="pl-1 py-1 bg-transparent font-bold text-gray-600">
                  <option value="main">main</option>
                    <option value="dev">dev</option>
                </select>
            </span>
            <span class="pl-2 border border-gray-300 rounded my-1 text-gray-300 cursor-pointer text-sm" onclick="copy_stash_url()">
                {{ repo.user.username | e }}@{{ repo.name | e }}.stash
                <button class="ml-2 p-2 bg-[#F5F5F5] text-gray-600 font-semibold">copy</button>
            </span>

        </div>
         <table class="w-full text-sm text-gray-700 dark:text-gray-400 mt-2">
              <tr class="bg-[#F4F4F4] text-gray-600">
                <th class="px-4 py-2 text-left text-[#7F7F7F] font-normal">{{ commit_message[:20] }}</th>
                <th class="px-4 py-2"></th>
                <th class="px-4 py-2 text-right"><span class="font-normal text-[#ACACAC] mr-2">latest commit</span>{{ last_commit[:10] }}</th>
              </tr>
        </table>
        <div>
            <div class="code border border-[#C0C0C0] mt-1">
            {% for index, val in file_content %}
                    <p><span class="bg-[#F5F5F5] py-1 px-2 text-[#6C6C6C] border-r border-r-[#C0C0C0] text-sm">{{ index }}</span> {{ val }}</p>
            {% endfor %}
            </div>
        </div>
    </div>




</div>




{% endblock %}


{% block sidebar %}
<ol class="flex flex-col items-start justify-center text-sm">
    {% for item in ["Files", "Releases", "Settings"] -%}
        <li class="text-gray-400 w-full">
            <a class="block px-3 py-4 hover:bg-[#1E282C] w-full hover:text-white">
            {{ item }}
            </a>
        </li>
    {%- endfor %}
</ol>
{% endblock %}